
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Expanded+One&display=swap');:root {
  --primary-blue: #303034;
  --primary-orange: #cc511c;
  --bg-light: #F8FAFF;
  --card-bg: rgba(255, 255, 255, 0.95);
  --glass-border: 1px solid rgba(0, 0, 0, 0.05);
  --font-sans: "Inter", sans-serif;
  --shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: var(--font-sans), serif;
  background-color: var(--bg-light);
  scroll-behavior: smooth;
  color: #333;
}
h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 4rem;
  font-weight: bolder;
}

h2 {
  color: #184464;
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-size: 1.5rem;
}

  h3 {

  font-weight: 600;
  letter-spacing: 1px;
}

section {
  color: #184464;
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

img {
  display: block;
  max-width: 100%;
}

.card {
  padding: 2em;
}




